<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>542483388986-6laqntp8tlbfk613dbie7btefc8h2gfh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.542483388986-6laqntp8tlbfk613dbie7btefc8h2gfh</string>
	<key>API_KEY</key>
	<string>AIzaSyC48h0oI794iAxvCPbuq5My--j-KUXyY7c</string>
	<key>GCM_SENDER_ID</key>
	<string>542483388986</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.miniGames</string>
	<key>PROJECT_ID</key>
	<string>minigames-d96fa</string>
	<key>STORAGE_BUCKET</key>
	<string>minigames-d96fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:542483388986:ios:1f3b11535382abf9e47303</string>
	<key>DATABASE_URL</key>
	<string>https://minigames-d96fa.firebaseio.com</string>
</dict>
</plist>